.idea
home/02_CSS/add1/img/b.png
home/02_CSS/add1/img/l-b.png
home/02_CSS/add1/img/l-t.png
home/02_CSS/add1/img/l.png
home/02_CSS/add1/img/r-b.png
home/02_CSS/add1/img/r-t.png
home/02_CSS/add1/img/r.png
home/02_CSS/add1/img/ramka.png
home/02_CSS/add1/img/t.png
home/02_CSS/add2/icon_mail.png
home/02_CSS/base3/icon_mail.png
home/02_CSS/base1/cards.png
